<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ROYAL Sneaker | Admin Login</title>
  
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/css/login.css">
  <script src="/assets/js/jquery-2.2.3.min.js"></script>


</head>

<body>
  <div class="login">
	<h1>ROYAL Sneaker</h1>
    <form method="post">
    	<input type="email" name="email" placeholder="email" required="required" />
        <input type="password" name="password" placeholder="password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Đăng nhập</button>
    </form>
    <br>
    {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}
</div>
  
    <script src="js/index.js"></script>
    <script type="text/javascript">
      $('div.alert').delay(5000).slideUp();
    </script>

</body>
</html>

