<div class="col-md-4 content-right">
			<div class="row">

					<div class="input-group" id="adv-search">
						<input type="text" class="form-control" placeholder="Tìm kiếm nhanh" />
						<div class="input-group-btn">
							<div class="btn-group" role="group">
								<div class="dropdown dropdown-lg">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
									<div class="dropdown-menu dropdown-menu-right" role="menu">
										<form class="form-horizontal" role="form">
										<div class="form-group">
											<label for="filter">Danh mục</label>
											<select class="form-control">
												<option value="0" selected>Tất cả danh mục</option>
												<option value="1">Danh mục 1</option>
												<option value="2">Danh mục 2</option>
												<option value="3">Danh mục 3</option>
												<option value="4">Danh mục 4</option>
											</select>
										</div>
										<div class="form-group">
											<label for="contain">Tác giả</label>
											<input class="form-control" type="text" />
										</div>
										<div class="form-group">
											<label for="contain">Nội dung</label>
											<input class="form-control" type="text" />
										</div>
										<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
										</form>
									</div>
								</div>
								<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
							</div>
						</div>
					</div>

			</div>
			  <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav2" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Tin nóng+</a></li>
                    <li role="presentation" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Đánh giá+</a></li>
                    </ul>
               <!-- Tab panes -->
              <div class="tab-content">
						<div role="tabpanel" class="tab-pane active re-pad2" id="home">


							<div class="game1">
								<div class="col-md-3 tab-pic">
									<a href="#"><img src="http://via.placeholder.com/91x78" alt="/" class="img-responsive"></a>
								</div>
								<div class="col-md-9 tab-pic-info">
								<h4><a href="#">Tin nóng</a></h4>
								<p>Lorem Ipsum is simply dummy text of the printing industry.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="game1">
								<div class="col-md-3 tab-pic">
									<a href="#"><img src="http://via.placeholder.com/91x78" alt="/" class="img-responsive"></a>
								</div>
								<div class="col-md-9 tab-pic-info">
								<h4><a href="#">Tin nóng</a></h4>
								<p>Lorem Ipsum is simply dummy text of the printing industry.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="game1">
								<div class="col-md-3 tab-pic">
									<a href="#"><img src="http://via.placeholder.com/91x78" alt="/" class="img-responsive"></a>
								</div>
								<div class="col-md-9 tab-pic-info">
								<h4><a href="#">Tin nóng</a></h4>
								<p>Lorem Ipsum is simply dummy text of the printing industry.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="game1">
								<div class="col-md-3 tab-pic">
									<a href="#"><img src="http://via.placeholder.com/91x78" alt="/" class="img-responsive"></a>
								</div>
								<div class="col-md-9 tab-pic-info">
								<h4><a href="#">Tin nóng</a></h4>
								<p>Lorem Ipsum is simply dummy text of the printing industry.</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane re-pad2" id="profile">
							
							<div class="game-post">
								<div class="col-md-3 tab-pic">
									<a href="#"><img src="http://via.placeholder.com/91x78" alt="/" class="img-responsive"></a>
								</div>
								<div class="col-md-9 tab-post-info">
								<h4><a href="#">Đánh giá Game</a></h4>
								<p>Reviewer: <a href="#"> Admin</a> 18:00 18/10/2017 &nbsp; <a href="#">Bình luận (10)</a></p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="game-post">
								<div class="col-md-3 tab-pic">
									<a href="#"><img src="http://via.placeholder.com/91x78" alt="/" class="img-responsive"></a>
								</div>
								<div class="col-md-9 tab-post-info">
								<h4><a href="#">Đánh giá Game</a></h4>
								<p>Reviewer: <a href="#"> Admin</a> 18:00 18/10/2017 &nbsp; <a href="#">Bình luận (10)</a></p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="game-post">
								<div class="col-md-3 tab-pic">
									<a href="#"><img src="http://via.placeholder.com/91x78" alt="/" class="img-responsive"></a>
								</div>
								<div class="col-md-9 tab-post-info">
								<h4><a href="#">Đánh giá Game</a></h4>
								<p>Reviewer: <a href="#"> Admin</a> 18:00 18/10/2017 &nbsp; <a href="#">Bình luận (10)</a></p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="game-post">
								<div class="col-md-3 tab-pic">
									<a href="#"><img src="http://via.placeholder.com/91x78" alt="/" class="img-responsive"></a>
								</div>
								<div class="col-md-9 tab-post-info">
								<h4><a href="#">Đánh giá Game</a></h4>
								<p>Reviewer: <a href="#"> Admin</a> 18:00 18/10/2017 &nbsp; <a href="#">Bình luận (10)</a></p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>                   
			 </div>
			 <!---->
			 <div class="category blog-ctgry">
					<h4>Game đang hot</h4>
					<div class="list-group">
						<a href="#" class="list-group-item">Game</a>
						<a href="#" class="list-group-item">Game</a>
						<a href="#" class="list-group-item">Game</a>
						<a href="#" class="list-group-item">Game</a>
						<a href="#" class="list-group-item">Game</a>
						<a href="#" class="list-group-item">Game</a>
					</div>
			 </div>	
			 <div class="category blog-ctgry">
					<h4>Công nghệ mới</h4>
					<div class="list-group">
						<a href="#" class="list-group-item">Tech</a>
						<a href="#" class="list-group-item">Tech</a>
						<a href="#" class="list-group-item">Tech</a>
						<a href="#" class="list-group-item">Tech</a>
						<a href="#" class="list-group-item">Tech</a>
						<a href="#" class="list-group-item">Tech</a>
					</div>
			 </div>	
			 <div class="row">
				 <img src="http://via.placeholder.com/365x600" alt="">
			 </div>
		  </div>