<!-- footer -->
<div class="footer">
	 <div class="container">
		 <div class="footer-grids">
			 <div class="col-md-6 news-ltr">
				 <h4>Nhận thông báo khi có tin mới</h4>
				 <p>Đăng ký ngay để nhận thông báo mỗi khi có tin tức mới cập nhật.</p>
				 <form>					 
					  <input type="text" class="text" value="Nhập email của bạn" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
					 <input type="submit" value="Đăng ký">
					 <div class="clearfix"></div>
				 </form>			 
			 </div>
			 <div class="col-md-3 ftr-grid">
				 <h3>Danh mục</h3>
				 <ul class="ftr-list">
					 <li><a href="#">Game mobile</a></li>
					 <li><a href="#">Game MMORPG</a></li>
					 <li><a href="#">Công nghệ thế giới</a></li>
					 <li><a href="#">Cosplay</a></li>
					 <li><a href="#">Giftcode</a></li>
				 </ul>							 
			 </div>	
			 <div class="col-md-3 ftr-grid">
				 <h3>Liên hệ</h3>
				 <ul class="ftr-list">
					 <li><a href="#">Facebook</a></li>
					 <li><a href="#">Twitter</a></li>
					 <li><a href="#">Google+</a></li>					 
					 <li><a href="#">Youtube</a></li>
					 <li><a href="#">...</a></li>
				 </ul>				 
			 </div>			 	
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
<div class="copywrite">
	 <div class="container">
		 <p> © 2017 TechGame - Designed by <a href="#">CUTE</a></p>
	 </div>
</div>
<!---->