


<div class="container">
				<div class="single">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
							<li class="breadcrumb-item active">Game Online</li>
						</ol>
					<div class="blog-to">		
					
						<img class="img-responsive sin-on" src="/assets/dist/user/images/sin1.jpg" alt="" />
							<div class="blog-top">

								<h3 class="fast" href="#">It is a long established fact that a reader will be distracted </h3>
								<p>Posted by <a href="#">Admin</a> in <a href="#">General</a> | <a href="#">10 Comments</a></p> 
								<p class="sed">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
									 when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.
									 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
									 when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.</p> 
									 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis. Donec et purus nec leo interdum sodales nec sit amet magna.</p>
								<div class="col-md-6 md-in">
						<ul class="grid-part">
							<li><a href="#"><i class="sign"> </i>Sed ut perspiciatis unde omnis</a></li>
							<li><a href="#"><i class="sign"> </i>Lorem ipsum dolor sit amet,  </a></li>
							<li><a href="#"><i class="sign"> </i>Sed ut perspiciatis unde omnis</a></li>
							<li><a href="#"><i class="sign"> </i>Lorem ipsum dolor sit amet,  </a></li>
							<li><a href="#"><i class="sign"> </i>Sed ut perspiciatis unde omnis</a></li>
						</ul>
						</div>
						<div class="col-md-6 md-in">
						<ul class="grid-part">
							<li><a href="#"><i class="sign"> </i>Sed ut perspiciatis unde omnis</a></li>
							<li><a href="#"><i class="sign"> </i>Lorem ipsum dolor sit amet,  </a></li>
							<li><a href="#"><i class="sign"> </i>Sed ut perspiciatis unde omnis</a></li>
							<li><a href="#"><i class="sign"> </i>Lorem ipsum dolor sit amet,  </a></li>
							<li><a href="#"><i class="sign"> </i>Sed ut perspiciatis unde omnis</a></li>
						</ul>
						</div>
						<div class="clearfix"> </div>
							</div>
							<div class="clearfix"> </div>
					</div>
			
						
					
				
		<div class="single-middle">
			
			<h3>3 bình luận</h3>
				<div class="media">
				  <div class="media-left">
					<a href="#">
					  <img class="media-object" src="/assets/dist/user/images/co.png" alt="">
					</a>
				  </div>
				  <div class="media-body">
					<h4 class="media-heading"><a href="#">Richard Spark</a></h4>
						<p>20/10/2017</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit .</p>
				  </div>
				</div>
				<div class="media">
				  <div class="media-left">
					<a href="#">
					  <img class="media-object" src="/assets/dist/user/images/co.png" alt="">
					</a>
				  </div>
				  <div class="media-body">
					<h4 class="media-heading"><a href="#">Melinda Dee</a></h4>
					<p>20/10/2017</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit .</p>
				  </div>
				</div>
			
		</div>
		<!---->
		<div class="single-bottom">
			<h3>Bình luận</h3>
				<form>
						<textarea cols="77" rows="6" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
							<input type="submit" value="Gửi bình luận" >
				</form>
			</div>
		</div>
</div>