<!---->
<div class="content">
	<div class="container">
		<div class="col-md-8 content-left">
			<div class="wptopleft">
				<div class="topleft" data-boxtype="homenewsposition">
					<a title="Top game online hành động ấn tượng phảng phất bóng dáng kinh dị sởn gai ốc" href="/top-game-online-hanh-dong-an-tuong-phang-phat-bong-dang-kinh-di-son-gai-oc-20171015214546106.chn"><img onload="t_image = new Date().getTime();" src="http://genknews.genkcdn.vn/zoom/399_262/2017/photo-0-1508078627770.jpg" alt="Top game online hành động ấn tượng phảng phất bóng dáng kinh dị sởn gai ốc" width="399px" height="262px"><script>t_after_image = new Date().getTime();</script></a>
					<h2><a data-linktype="newsdetail" data-id="20171015214546106" title="Top game online hành động ấn tượng phảng phất bóng dáng kinh dị sởn gai ốc" href="/top-game-online-hanh-dong-an-tuong-phang-phat-bong-dang-kinh-di-son-gai-oc-20171015214546106.chn">Top game online hành động ấn tượng phảng phất bóng dáng kinh dị sởn gai ốc</a></h2>
				</div>
				<div class="topleft2" data-boxtype="homenewsposition">
					<a title="Top 4 xạ thủ đang có tỉ lệ thắng xếp hạng cao ngất ngưởng, lựa chọn hoàn hảo để bắn cả thế giới trong phiên bản 7.20" href="/top-4-xa-thu-dang-co-ti-le-thang-xep-hang-cao-ngat-nguong-lua-chon-hoan-hao-de-ban-ca-the-gioi-trong-phien-ban-720-20171015233916637.chn"><img src="http://genknews.genkcdn.vn/zoom/399_163/2017/photo-4-1508085300087.jpg" alt="Top 4 xạ thủ đang có tỉ lệ thắng xếp hạng cao ngất ngưởng, lựa chọn hoàn hảo để bắn cả thế giới trong phiên bản 7.20" width="399px" height="163px"></a>
					<h2><a data-linktype="newsdetail" data-id="20171015233916637" title="Top 4 xạ thủ đang có tỉ lệ thắng xếp hạng cao ngất ngưởng, lựa chọn hoàn hảo để bắn cả thế giới trong phiên bản 7.20" href="/top-4-xa-thu-dang-co-ti-le-thang-xep-hang-cao-ngat-nguong-lua-chon-hoan-hao-de-ban-ca-the-gioi-trong-phien-ban-720-20171015233916637.chn">Top 4 xạ thủ đang có tỉ lệ thắng xếp hạng cao ngất ngưởng, lựa chọn hoàn hảo để bắn cả thế giới trong phiên bản 7.20</a></h2>
				</div>
			</div>
			<div class="wptopright">
				<div class="topright" data-boxtype="homenewsposition">
					<a title="Loạt game mobile miễn phí đang được cộng đồng yêu thích thời gian gần đây" href="/loat-game-mobile-mien-phi-dang-duoc-cong-dong-yeu-thich-thoi-gian-gan-day-20171015211646153.chn"><img src="http://genknews.genkcdn.vn/zoom/278_262/2016/eternity-warriors-4-sc-24-1481098910000.jpeg" alt="Loạt game mobile miễn phí đang được cộng đồng yêu thích thời gian gần đây" width="278px" height="262px"></a>
					<h2 class="black_rp"><a data-linktype="newsdetail" data-id="20171015211646153" title="Loạt game mobile miễn phí đang được cộng đồng yêu thích thời gian gần đây" href="/loat-game-mobile-mien-phi-dang-duoc-cong-dong-yeu-thich-thoi-gian-gan-day-20171015211646153.chn">Loạt game mobile miễn phí đang được cộng đồng yêu thích thời gian gần đây</a></h2>
				</div>
				<div class="topright2" data-boxtype="homenewsposition">
					<a title="Liên Quân Mobile: Top 6 vị tướng là miếng mồi ngon ưa thích của Kiếm Khách Tài Ba Ryoma" href="/lien-quan-mobile-top-6-vi-tuong-la-mieng-moi-ngon-ua-thich-cua-kiem-khach-tai-ba-ryoma-20171015205731996.chn"><img src="http://genknews.genkcdn.vn/zoom/278_163/2017/3-1508075622618.jpg" alt="Liên Quân Mobile: Top 6 vị tướng là miếng mồi ngon ưa thích của Kiếm Khách Tài Ba Ryoma" width="278px" height="163px"></a>
					<h2 class="black_rp"><a data-linktype="newsdetail" data-id="20171015205731996" title="Liên Quân Mobile: Top 6 vị tướng là miếng mồi ngon ưa thích của Kiếm Khách Tài Ba Ryoma" href="/lien-quan-mobile-top-6-vi-tuong-la-mieng-moi-ngon-ua-thich-cua-kiem-khach-tai-ba-ryoma-20171015205731996.chn">Liên Quân Mobile: Top 6 vị tướng là miếng mồi ngon ưa thích của Kiếm Khách Tài Ba Ryoma</a></h2>
				</div>
			</div>
			<div class="newsupdate">
				<h2 class="top">
					<a href="javascript:">MỚI CẬP NHẬT</a>
				</h2>
				<ul>
					<li class="top">
						<a href="/thanh-nien-lua-dao-trong-game-bi-cong-dong-truy-ra-ca-so-nha-dung-tuong-online-ma-de-thoat-20171016162117871.chn" title="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!">
						<img alt="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!" src="http://genknews.genkcdn.vn/zoom/310_200/2017/capture-crop-1508145401989.jpg" width="310px" height="200px">

						</a>

						<h3><a data-linktype="newsdetail" data-id="20171016162117871" title="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!" href="/thanh-nien-lua-dao-trong-game-bi-cong-dong-truy-ra-ca-so-nha-dung-tuong-online-ma-de-thoat-20171016162117871.chn">Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!</a></h3>
						<p>Các game thủ Blade and Soul Việt nên chú ý tên lừa đảo này và blacklist hắn ngay lập tức!</p>
						<p class="time">
						<a href="javascript:void(0);" class="author">RED</a>
						- 
						<a href="/game-online.chn" class="categame">Game Online</a>
						16/10/2017 16:20
						</p>
					</li>
					<li class="top">
						<a href="/thanh-nien-lua-dao-trong-game-bi-cong-dong-truy-ra-ca-so-nha-dung-tuong-online-ma-de-thoat-20171016162117871.chn" title="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!">
						<img alt="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!" src="http://genknews.genkcdn.vn/zoom/310_200/2017/capture-crop-1508145401989.jpg" width="310px" height="200px">

						</a>

						<h3><a data-linktype="newsdetail" data-id="20171016162117871" title="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!" href="/thanh-nien-lua-dao-trong-game-bi-cong-dong-truy-ra-ca-so-nha-dung-tuong-online-ma-de-thoat-20171016162117871.chn">Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!</a></h3>
						<p>Các game thủ Blade and Soul Việt nên chú ý tên lừa đảo này và blacklist hắn ngay lập tức!</p>
						<p class="time">
						<a href="javascript:void(0);" class="author">RED</a>
						- 
						<a href="/game-online.chn" class="categame">Game Online</a>
						16/10/2017 16:20
						</p>
					</li>
					<li class="top">
						<a href="/thanh-nien-lua-dao-trong-game-bi-cong-dong-truy-ra-ca-so-nha-dung-tuong-online-ma-de-thoat-20171016162117871.chn" title="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!">
						<img alt="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!" src="http://genknews.genkcdn.vn/zoom/310_200/2017/capture-crop-1508145401989.jpg" width="310px" height="200px">

						</a>

						<h3><a data-linktype="newsdetail" data-id="20171016162117871" title="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!" href="/thanh-nien-lua-dao-trong-game-bi-cong-dong-truy-ra-ca-so-nha-dung-tuong-online-ma-de-thoat-20171016162117871.chn">Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!</a></h3>
						<p>Các game thủ Blade and Soul Việt nên chú ý tên lừa đảo này và blacklist hắn ngay lập tức!</p>
						<p class="time">
						<a href="javascript:void(0);" class="author">RED</a>
						- 
						<a href="/game-online.chn" class="categame">Game Online</a>
						16/10/2017 16:20
						</p>
					</li>
					<li class="top">
						<a href="/thanh-nien-lua-dao-trong-game-bi-cong-dong-truy-ra-ca-so-nha-dung-tuong-online-ma-de-thoat-20171016162117871.chn" title="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!">
						<img alt="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!" src="http://genknews.genkcdn.vn/zoom/310_200/2017/capture-crop-1508145401989.jpg" width="310px" height="200px">

						</a>

						<h3><a data-linktype="newsdetail" data-id="20171016162117871" title="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!" href="/thanh-nien-lua-dao-trong-game-bi-cong-dong-truy-ra-ca-so-nha-dung-tuong-online-ma-de-thoat-20171016162117871.chn">Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!</a></h3>
						<p>Các game thủ Blade and Soul Việt nên chú ý tên lừa đảo này và blacklist hắn ngay lập tức!</p>
						<p class="time">
						<a href="javascript:void(0);" class="author">RED</a>
						- 
						<a href="/game-online.chn" class="categame">Game Online</a>
						16/10/2017 16:20
						</p>
					</li>
					<li class="top">
						<a href="/thanh-nien-lua-dao-trong-game-bi-cong-dong-truy-ra-ca-so-nha-dung-tuong-online-ma-de-thoat-20171016162117871.chn" title="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!">
						<img alt="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!" src="http://genknews.genkcdn.vn/zoom/310_200/2017/capture-crop-1508145401989.jpg" width="310px" height="200px">

						</a>

						<h3><a data-linktype="newsdetail" data-id="20171016162117871" title="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!" href="/thanh-nien-lua-dao-trong-game-bi-cong-dong-truy-ra-ca-so-nha-dung-tuong-online-ma-de-thoat-20171016162117871.chn">Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!</a></h3>
						<p>Các game thủ Blade and Soul Việt nên chú ý tên lừa đảo này và blacklist hắn ngay lập tức!</p>
						<p class="time">
						<a href="javascript:void(0);" class="author">RED</a>
						- 
						<a href="/game-online.chn" class="categame">Game Online</a>
						16/10/2017 16:20
						</p>
					</li>
					<li class="top">
						<a href="/thanh-nien-lua-dao-trong-game-bi-cong-dong-truy-ra-ca-so-nha-dung-tuong-online-ma-de-thoat-20171016162117871.chn" title="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!">
						<img alt="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!" src="http://genknews.genkcdn.vn/zoom/310_200/2017/capture-crop-1508145401989.jpg" width="310px" height="200px">

						</a>

						<h3><a data-linktype="newsdetail" data-id="20171016162117871" title="Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!" href="/thanh-nien-lua-dao-trong-game-bi-cong-dong-truy-ra-ca-so-nha-dung-tuong-online-ma-de-thoat-20171016162117871.chn">Thanh niên lừa đảo trong game bị cộng đồng truy ra cả số nhà, đừng tưởng online mà dễ thoát!</a></h3>
						<p>Các game thủ Blade and Soul Việt nên chú ý tên lừa đảo này và blacklist hắn ngay lập tức!</p>
						<p class="time">
						<a href="javascript:void(0);" class="author">RED</a>
						- 
						<a href="/game-online.chn" class="categame">Game Online</a>
						16/10/2017 16:20
						</p>
					</li>
				</ul>	
				<div class="clearfix"></div>
			</div>
			</div>
		{{> _right-sidebar }}
		<div class="clearfix"></div>
	</div>
</div>