
<div class="content">
	<div class="container">
		<div class="col-md-8 content-left">
			<div class="wptopleft">
				<div class="topleft" data-boxtype="homenewsposition">
					<a href="#"><img src="http://via.placeholder.com/399x262"  width="399px" height="262px"></a>
					<h2><a title="Tiêu đề bài viết nổi bật" href="#">{{userInfo.title}}</a></h2>
				</div>
				<div class="topleft2" data-boxtype="homenewsposition">
					<a href="#"><img src="http://via.placeholder.com/399x163"  width="399px" height="163px"></a>
					<h2><a title="Tiêu đề bài viết nổi bật" href="#">Tiêu đề bài viết nổi bật</a></h2>
				</div>
			</div>
			<div class="wptopright">
				<div class="topright" data-boxtype="homenewsposition">
					<a href="#"><img src="http://via.placeholder.com/278x262"  width="278px" height="262px"></a>
					<h2><a title="Tiêu đề bài viết nổi bật" href="#">Tiêu đề bài viết nổi bật</a></h2>
				</div>
				<div class="topright2" data-boxtype="homenewsposition">
					<a href="#"><img src="http://via.placeholder.com/278x163"  width="278px" height="163px"></a>
					<h2><a title="Tiêu đề bài viết nổi bật" href="#">Tiêu đề bài viết nổi bật</a></h2>
				</div>
			</div>
			<div class="newsupdate">
				<h2 class="top">
					<a href="javascript:">MỚI CẬP NHẬT</a>
				</h2>
				<ul>
					<li class="top">
						<a href="#" title="">
						<img alt="" src="http://via.placeholder.com/310x200" width="310px" height="200px">

						</a>

						<h3><a title="Tiêu đề bài viết " href="#">Tiêu đề bài viết</a></h3>
						<p>Nội dung ngắn để hiển thị!</p>
						<p class="time">
						<a href="javascript:void(0);" class="author">Tác giả</a>
						- 
						<a href="#" class="categame">Danh mục</a>
						16/10/2017 16:20
						</p>
					</li>
					<li class="top">
						<a href="#" title="">
						<img alt="" src="http://via.placeholder.com/310x200" width="310px" height="200px">

						</a>

						<h3><a title="Tiêu đề bài viết " href="#">Tiêu đề bài viết</a></h3>
						<p>Nội dung ngắn để hiển thị!</p>
						<p class="time">
						<a href="javascript:void(0);" class="author">Tác giả</a>
						- 
						<a href="#" class="categame">Danh mục</a>
						16/10/2017 16:20
						</p>
					</li>
					<li class="top">
						<a href="#" title="">
						<img alt="" src="http://via.placeholder.com/310x200" width="310px" height="200px">

						</a>

						<h3><a title="Tiêu đề bài viết " href="#">Tiêu đề bài viết</a></h3>
						<p>Nội dung ngắn để hiển thị!</p>
						<p class="time">
						<a href="javascript:void(0);" class="author">Tác giả</a>
						- 
						<a href="#" class="categame">Danh mục</a>
						16/10/2017 16:20
						</p>
					</li>
				</ul>	
				<div class="clearfix"></div>
			</div>
			</div>
		{{> _right-sidebar }}
		<div class="clearfix"></div>
	</div>
</div>