<div class="container">
    {{> breadcrum-user}}
    <div class="row">
			<div class="col-md-offset-3 col-md-6 form">	
                <h2>Đăng nhập</h2>
			    <form >
					<span class="help-block"></span>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope" style="font-size: 0.7em;"></i></span>
						<input type="text" class="form-control" maxlength="50" placeholder="Email" >
					</div>
					<span class="help-block"></span>				
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input  type="password" class="form-control" maxlength="50"  placeholder="Mật khẩu">
					</div>
					<button class="btn btn-lg btn-danger btn-block" type="submit">Đăng nhập</button>
				</form>
			</div>
    	</div>
</div>